<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> <%= title%> </title>
        <link rel="stylesheet" href="/styles/global.css"/>
        <link rel="stylesheet" href="/styles/main.css"/>

    </head>
    <body>
        <div class="main">
            <main>
                <h1> <%=title %></h1>
                <p>Bem vindo(a) ao <strong><%= title%></strong></p>
                <a href="/curriculo">Clique aqui para explorar mais!</a>
            </main>
            <footer>
                <p>Versão <%= version %></p>
            </footer>
        </div>
    </body>
</html>